/* Default/All Pages */
.content {
    margin: 0 auto;
    max-width: 1600px;
}

body {
    margin: 0;
    padding: 0;
}

main {
    background-color: #01BAEF;
}

h1, h2, h3, h4, a {
    font-family: 'Fjalla One', sans-serif;
    font-size: 40px;
}

p {
    font-family: 'Noto Sans JP', sans-serif;
}

.name-box {
    background-color: #FBFBFF;
    color: #C30C09;
    border: 5px solid #040F16;
    padding: 15px;
    margin: 0;
    text-decoration: none;
    font-size: 15px;
}

.text-align {
    text-align: center;
}

.img-container {
    position: relative;
}

div {
    margin: 150px auto;
}

/* Header */
header {
    background-color: #040F16;
    display: grid;
    grid-template-columns: 120px auto 120px;
    grid-template-rows: 120px;
}

header nav {
    grid-column: 2/3;
    display: flex;
    justify-content: space-around;
}

header nav a { 
    color:#FBFBFF;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    height: 100%;
    padding: 35px;
}

header nav a:hover {
    color: #0D5F82;
}

.logo {
    height: 100%;
    width: auto;
    background-color: #C30C09;
}

/* Footer */
.cr-logo {
    width: 100px;
    height: auto;
}

footer {
    background-color: #040F16;
    display: grid;
    grid-template-columns: auto 350px;
    grid-template-rows: 120px;
}

.footer-sites {
    grid-column: 1/2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logos {
    grid-column: 2/3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer nav a p {
    color: #FBFBFF;
    font-size: 15px;
    text-decoration: none;
}

footer nav a p:hover {
    color: #0D5F82;
}

.bigthree, .edward-img, .opm-img, .mob-img {
    border: 5px solid #040F16;
}

/* Home Page */
.over-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner {
    width: 100%;
    height: 550px;
    object-fit: cover;
    object-position: 0 -15px;
}

.whyanime-title {
    font-size: 25px;
}

.paragraph-center {
    margin: 0 200px;
}

.title-box, .paragraph {
    background-color: #FBFBFF;
    border: 5px solid #040F16;
    color: #C30C09;
}

.title-box {
    display: inline;
    padding: 15px;
}

.paragraph {
    font-size: 18px;
    padding: 30px 15px 15px 15px;
}

.bigthree {
    width: 900px;
    height: auto;
}

.bleach-tag {
    position: absolute;
    top: 80%;
    left: 27%;
    transform: translate(-50%, -50%);
}

.one-piece-tag {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.naruto-tag {
    position: absolute;
    top: 80%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.link-box {
    margin: 0 300px;
    display: grid;
    grid-template-columns: 35px 1fr 1fr 35px;
    grid-template-rows: 50px 150px 60px;
}

.pop-anime, .la-anime {
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pop-anime {
    border: 3px solid #040F16;
    background-color: #FBFBFF;
    color: #040F16;
    grid-column: 2/3;
    grid-row: 1/3;
    z-index: 2;
}

.pop-anime:hover {
    background-color: #040F16;
    color: #FBFBFF;
}

.la-anime {
    border: 3px solid #FBFBFF;
    background-color: #040F16;
    color: #FBFBFF;
    grid-column: 3/4;
    grid-row: 1/3;
    z-index: 2;
}

.la-anime:hover {
    background-color: #FBFBFF;
    color: #040F16;
}

.link-box-shadow {
    background-color: black;
    grid-column: 1/5;
    grid-row: 2/4;
    z-index: 1;
}


/* 2nd Page */

.page2-container {
    display: grid;
    grid-template: 200px 400px 400px 500px / 1fr;
}

.page-2-title-section, .edward-section, .p2-p-section, .p2-img-section {
    padding: 0px 150px;
}

.page-2-title-section {
    grid-row: 1/2;
    padding-top: 120px;
}

.edward-section {
    grid-row: 2/3;
}

.p2-p-section {
    grid-row: 3/4;
}

.p2-img-section {
    grid-row: 4/5;
}

.edward-img {
    width: 600px;
    position: relative;
}

.fma-tag {
    position: absolute;
    top: 135%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.p2-img-cont {
    display: grid;
    grid-template-columns: 50% 50%;
    padding-bottom: 70px;
    column-gap: 20px;
}

.opm-img, .mob-img {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    object-fit: cover;
    width: 93%;
    height: 500px;
}

.opm-img {
    object-position: 0 0px;
    grid-column: 1/2;
}

.mob-img {
    object-position: 0 0px;
    grid-column: 2/3;
}

.opm-tag {
    position: absolute;
    left: 30%;
    transform: translate(-50%, -50%);
}

.mob-tag {
    position: absolute;
    left: 70%;
    transform: translate(-50%, -50%);
}

.mob-tag, .opm-tag {
    top: 330%;
}

/* Third Page */